.marginTopContainer {
    margin-top:50px;
}

.mainc {

    box-shadow: 15px 15px 10px gray;
    margin-bottom:20px;
    padding: 15px;
}

.logingbox {
    margin-top:50px;
    box-shadow: 5px 5px 2px grey;
    padding:15px;

}

.folder {
    #background:black;
    box-shadow: 5px 5px 2px grey;
}

h1 {
    font-family: font-family: Arial Narrow,Arial,sans-serif;
    font-size: 1.6rem;
}
h5 {
    font-family: font-family: Arial Narrow,Arial,sans-serif;
    font-size: 1.6rem;
}

.formInTable {
    display: inline;
    margin:0px;
    padding:0px;
}

$breadcrumb-divider: quote(">");

a:hover {
    text-decoration:none;
}

#jumbotron-welcome {
    margin-bottom:0px;
}
breadcrumb-item:hover {
    text-decoration:none;
}
.nounderline {
  text-decoration: none !important
}

.label_user {
    font-size: 8pt;
}

.users-th {
    border: 1px solid gray;
    padding: 5px;
    margin-bottom:5px;
    margin-left:5px;
    margin-left:2px;
    margin-right:2px;
}