<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Pegasus</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>

    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/fontawesome-free-5.9.0/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container mainc">
    <div th:replace="breadcrumbs :: breadcrumbs"></div>
    <h1>Lista de Eventos</h1>
    <h1> Total Pessoas Atendidas: <span th:text="${sumje}"></span> </h1>

    <div class="row">
        <!--        1-->
        <div class="col-md-4">
            <span class="justice-event-th d-none d-sm-block"># Título</span>
        </div>
        <!--        2-->
        <div class="col">
            <span class="justice-event-th d-none d-sm-block"># Local</span>
        </div>
        <!--        3-->
        <div class="col">
            <span class="justice-event-th d-none d-sm-block"># Resp</span>
        </div>
        <!--        4-->
        <div class="col-md-2">
            <span class="justice-event-th d-none d-sm-block"># Início</span>

            <span class="justice-event-th d-none d-sm-block"># Fim</span>
        </div>
        <!--        5-->
        <div class="col">
            <span class="justice-event-th d-none d-sm-block">Qtd</span>
        </div>
        <!--        6-->
        <div class="col">
            <span class="justice-event-th d-none d-sm-block">Actions</span>
        </div>
    </div>

    <div th:each="jev : ${jevs}">
        <div class="row justice-event">
            <!--            1-->
            <div class="col-md-4">
                <div class="d-md-none je-th-sm">Título:</div>
                <i class="fas fa-code"></i>
                <a th:href="@{/justiceevents/{id}(id=${jev.id})}">
                    <span th:text="${jev.eventTitle}"></span>
                </a>
            </div>
            <!--            2-->
            <div class="col">
                <div class="d-md-none je-th-sm">Local:</div>
                <span th:text="${jev.eventLocation}"></span>
            </div>
            <!--            3-->
            <div class="col">
                <div class="d-md-none je-th-sm">Relator:</div>
                <span th:text="${jev.informer}"></span>
            </div>
            <!--            4-->
            <div class="col-md-2">
                <div class="d-md-none je-th-sm">Datas:</div>
                <span class="btn btn-outline-info btn-sm" th:text="${#dates.format(jev.eventStartDate, 'dd-MM-yyyy')}"></span>

                <span class="btn btn-outline-danger btn-sm" th:text="${#dates.format(jev.eventEndDate, 'dd-MM-yyyy')}"></span>
            </div>
            <!--            5-->
            <div class="col">
                <div class="d-md-none je-th-sm">Atendidos:</div>
                <span th:text="${jev.peopleAttended}"></span>
            </div>
            <!--            6-->
            <div class="col">
                <div class="d-md-none je-th-sm">Ação:</div>
                <a th:href="@{/events/delete/{id}(id=${jev.id})}">
                    <i class="fas fa-eraser"></i>
                    Remover
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-md-2"></div>
        <div class="col">
            <div class="d-md-none justice-event-th">Total Pessoas Atendidas: <span th:text="${sumje}"></span> </div>
        </div>
        <div class="col"></div>
    </div>
    <br>
    <a href="/justiceevents" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Novo Evento
    </a>

</div>
</body>
</html>