<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pegasus</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/fontawesome-free-5.9.0/css/all.min.css"/>
</head>
<body>
    <div th:replace="navigation :: navigation"></div>
<div class="container mainc">
    <h1><i class="fas fa-home"></i> Indicadores</h1>
    <span>
        <i class="fas fa-code"></i>
    </span>
    <br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col"># Título</th>
            <th scope="col"># Local</th>
            <th scope="col"># Início</th>
            <th scope="col"># Fim</th>

        </tr>
        </thead>
        <tbody>
        <div th:each="jev : ${jevs}">
            <tr>
                <td><span th:text="${jev.eventTitle}"></span></td>
                <td><span th:text="${jev.eventLocation}"></span></td>
                <td><span th:text="${#dates.format(jev.eventStartDate, 'dd.MM.yyyy')}"></span></td>
                <td><span th:text="${#dates.format(jev.eventEndDate, 'dd.MM.yyyy')}"></span></td>
            </tr>
        </div>

        </tbody>
    </table>
    <a href="/justiceevents" class="btn btn-primary">TPBen</a>

</div>
</body>
</html>