<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pegasus</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/fontawesome-free-5.9.0/css/all.min.css"/>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container mainc">
    <div th:replace="breadcrumbs :: breadcrumbs"></div>
    <h1>Usuários Registrados</h1>
    <table class="table table-hover table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <div th:each="user : ${users}">
            <tr>
                <td>
                    <i class="fas fa-user-tie fa-2x"></i>
                    <span th:text="${user.username}"></span>
                </td>
                <td>
                    <form class="form-inline formInTable" th:action="@{/users/{id}(id=${user.id})}" th:method="GET">
                        <button class="btn btn-info" type="submit"><i class="fas fa-edit"></i> Editar</button>
                    </form>
                    <form class="form-inline formInTable"
                          th:action="@{/users/{id}(id=${user.id})}" th:method="DELETE">
                        <input type="hidden" name="id" th:value="${user.id}"/>
                        <button class="btn btn-danger" type="submit"><i class="fas fa-user-minus"></i> Apagar</button>
                    </form>
                </td>
            </tr>
        </div>


        </tbody>

    </table>
    <a href="/registration" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Novo Usuário
    </a>
</div>
</body>
</html>