<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Pegasus</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="/css/main.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/fontawesome-free-5.9.0/css/all.min.css"/>
</head>
<body>

<div th:replace="navigation :: navigation"></div>

<div class="container mainc">

    <div th:replace="breadcrumbs :: breadcrumbs"></div>

    <h1><i class="far fa-address-book"></i> Usuários Registrados</h1>

    <div class="row">
        <div class="col-sm-3 d-none d-sm-block">
            <h5>Usuário</h5>
        </div>
        <div class="col-sm-3 d-none d-sm-block">
            <h5>Perfis</h5>
        </div>
        <div class="col-sm-6 d-none d-sm-block">
            <h5>Ações</h5>
        </div>
    </div>
<!--     d-none d-md-block users-th -->

    <div th:each="user : ${users}">
        <div class="row users-th">
            <div class="col-sm-3">
                <i class="fas fa-user-tie fa-2x"></i>
                <span th:text="${user.id}"></span>
                <span th:text="${user.username}"></span>
            </div>
            <div class="col-sm-3">
                <span th:each="user_roles : ${user.roles}">
                    <form class="form-inline formInTable" th:action="@{/users/{id}/roles/{role_id}(id=${user.id}, role_id=${user_roles.id})}" th:method="DELETE">
                        <button type="submit" class="btn btn-outline-success btn-sm">
                            <span class="label_user" th:text="${user_roles}"></span><span class="badge">x</span>
                        </button>
                    </form>
                </span>
            </div>
            <div class="col-sm-6">
                <!-- Formulário para editar                    -->
                <form class="form-inline formInTable" th:action="@{/users/{id}(id=${user.id})}" th:method="GET">
                    <button class="btn btn-outline-info btn-sm" type="submit"><i class="fas fa-edit"></i> Editar</button>
                </form>

                <!-- Formulário para apagar                    -->
                <form class="form-inline formInTable"
                      th:action="@{/users/{id}(id=${user.id})}" th:method="DELETE">
                    <input type="hidden" name="id" th:value="${user.id}"/>
                    <button class="btn btn-outline-danger btn-sm" type="submit"><i class="fas fa-user-minus"></i> Apagar</button>
                </form>

                <!-- Formulário para atribuir perfil-->
                <form class="form-inline formInTable" th:action="@{/roles}">
                    <select class="form-control" id="dropRoles">
                        <option  class="dropdown-item" value="0">Selecionar Perfil</option>
                        <option class="dropdown-item" th:each="rol : ${allRoles}" th:value="${rol.id}" th:text="${rol.name}"></option>
                    </select>
                    <button class="btn btn-default btn-outline-primary btn-sm" type="submit"><i class="fas fa-plus"></i> Perfil</button>
                </form>
            </div>
        </div>
    </div>

    <a href="/registration" class="btn btn-primary">
        <i class="fas fa-plus"></i>
        Novo Usuário
    </a>
</div>
</body>
</html>