<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Bem Vindo</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
    <script src="/webjars/jquery/3.3.1/jquery.min.js"></script>
    <script src="/webjars/popper.js/1.12.9-1/umd/popper.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/fontawesome-free-5.9.0/css/all.min.css"/>
    <link rel="stylesheet" th:href="@{css/main.css}" href="css/main.css"/>
</head>
<body>
<div th:replace="navigation :: navigation"></div>
<div class="container mainc">
    <div sec:authorize="isAuthenticated()">
        <div th:replace="breadcrumbs :: breadcrumbs"></div>
    </div>
    <div id="jumbotron-welcome" class="jumbotron">
        <div class="row">
            <div class="col">
                <h1 class="display-4">Olá!</h1>
                <p class="lead">Este é um simples sistema de informação para concentrar dados e disponibilizar em REST
                    API.</p>
                <hr class="my-4">
                <p>Veja os serviços disponíveis.</p>
                <a class="btn btn-primary btn-lg" href="/admin" role="button">Leia mais</a>
            </div>
            <div class="col" align="right">
                <img src="/img/cogs_result.svg">
            </div>
        </div>
    </div>
</div>
</body>
</html>